doctype html
html(lang='en')
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width")
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css')

  - var options = pageOptions[0]
  body
    div.pp-wrapper
      - if (options) {
      section.privacy-policy-intro.pp-container
        - if (options.headerImage != '') {
          .privacy-policy-branding
          img.pp-logo(src=options.headerImage)
        - }
        div.privacy-policy-intro-copy
          h1!= options.headline
          p!= options.subHeading
      - }

      include main

      - if (options) {
        section.privacy-policy-footer
          p!= options.footerContent
      - }
